*{

    margin:0;
    padding:0;
}
body {
    background-color: #EFEFEF;
}
.cus_div {
    background-color: white;
    width: 1200px;
    margin-left: 35px;
    margin-top: 40px;
}

th,td {
    border-bottom: 1px solid rgb(224,224,224,1);
    text-align: center;
    height: 54px;
    width: 100vw;
    /* padding:20px 120px 10px 10px; */
}

/* td {
    width: 700px;
} */

table{
    margin-left: 40px;   
}

.cus_head {
    margin-left: 40px;
    padding: 20px;
    border-bottom: 1px solid rgb(224,224,224,1);
}

.edt_del {
    display: flex;
    width: 70px;
    margin-left: 80px;
    align-items: center;
    justify-content: space-around;
}

.edt_icon {
    height: 30px;
    width: 30px;
    background-color: #66BB6A;
    border-radius: 15px;
}

.del_icon {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #EFEFEF;
}

.icon_main {
    position: sticky;
    bottom: 30px;
    display: flex;
    width: 140px;
    justify-content: space-around;
    float: right;
    margin-top: 250px;
    border-radius: 30px;
}

.search_main {
    height: 30px;
    width: 30px;
    background-color: #ADD8E6;
    border-radius: 45px;
}

.add_main {
    height: 30px;
    width: 30px;
    background-color: #E91E63;
    border-radius: 45px;
}